%tr
  %td= record.id unless record.id.blank?
  %td= record.record_index unless record.record_index.blank?
  %td= record.date_open unless record.date_open.blank?
  %td= record.record_status unless record.record_status.blank?
  %td= record.record_location unless record.record_location.blank?
  %td= record.record_type unless record.record_type.blank?
  %td= record.description unless record.description.blank?
  %td= record.planner unless record.planner.blank?
  %td= record.record_module unless record.record_module.blank?
  %td= record.city unless record.city.blank?
  %td= record.state unless record.state.blank?
  %td= record.zip_code unless record.zip_code.blank?
